{% extends 'base.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
    <h1>Обо мне</h1>
    <p>Привет! Меня зовут Александр, я выполняю 1е задание семинара.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus justo ligula, finibus id risus ut, tempus dapibus justo. Aliquam lacus turpis, elementum id porttitor nec, finibus sed eros. Vestibulum imperdiet sem ut malesuada tempus. Donec facilisis lacus bibendum mi commodo, ut rutrum odio ornare. Maecenas volutpat enim sit amet tellus pulvinar cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin in viverra metus. Aenean venenatis turpis auctor dui molestie, vitae iaculis ligula tempus. Vestibulum feugiat viverra enim ac viverra. Suspendisse sit amet nisi blandit, egestas est ac, malesuada nunc. Sed non auctor massa. Nunc imperdiet risus eu vulputate lacinia. Sed eu massa id ante congue suscipit et vitae orci.</p>

    <p>Cras gravida maximus dui quis fermentum. Aliquam mattis consequat nulla, id cursus lorem finibus nec. Curabitur at pulvinar nisi. Quisque accumsan lacus vitae hendrerit semper. Quisque a congue mi. Phasellus felis ligula, sollicitudin vitae faucibus at, feugiat ut augue. Etiam vulputate sit amet elit quis aliquet. Etiam odio lectus, laoreet et accumsan non, consequat at enim. Donec sit amet eleifend nibh. Curabitur dignissim, libero vel fringilla venenatis, magna velit lacinia lectus, et imperdiet enim urna id turpis. Cras a condimentum nisi, sed dictum enim. Cras luctus, sem ut vehicula elementum, dui nunc dignissim erat, ut auctor odio quam tristique urna. Aenean et augue quis elit tincidunt laoreet quis a nisl.</p>
{% endblock %}