{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Задание 1</h1>
    <p>Добро пожаловать на главную страницу проекта, задание 1!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat enim ipsum, sit amet sodales
    quam aliquam sit amet. Morbi ante odio, venenatis nec viverra aliquet, blandit bibendum erat. Vivamus
    tincidunt porttitor massa ac dignissim. Vestibulum eu molestie massa, sed aliquet purus. Praesent ac mi
    sit amet neque pellentesque pharetra a vel urna. Proin vitae vestibulum neque. Aliquam finibus ultricies
    felis a vehicula. Nam ac elementum risus. Sed sed dapibus tellus, ac convallis lacus. Nunc pellentesque
    metus vel libero aliquet facilisis. In at malesuada libero, quis vulputate metus.</p>

    <p>Phasellus et leo massa. In convallis tortor pellentesque blandit vehicula. Cras mi dolor, facilisis eu
    orci dapibus, sodales laoreet orci. Duis non lectus quis leo tincidunt tempor. Phasellus at cursus erat,
    eu dapibus eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
    Vestibulum iaculis mauris ac scelerisque hendrerit. Praesent malesuada nisi semper, blandit sapien in,
    efficitur quam. Suspendisse potenti. Aliquam ut tempus nunc. In tincidunt suscipit sem, non laoreet
    tellus. Quisque volutpat ex nisl, non fermentum nibh commodo eu. Ut vitae odio sed purus ultrices euismod
    nec eu neque. Nam quis nulla gravida, luctus nisl sed, egestas ipsum.</p>

    <p>Quisque nec dapibus odio. Ut ac porta erat, sit amet rutrum leo. Nulla ipsum tellus, vestibulum vel
    commodo vitae, pellentesque ac est. Donec quis tempor arcu. Curabitur porta commodo purus, id vestibulum
    nunc pellentesque sed. Quisque sed consectetur augue. Mauris justo velit, gravida nec diam lobortis,
    porttitor faucibus lectus. Curabitur facilisis purus in urna vulputate cursus. Aliquam efficitur rutrum
    ipsum pharetra tincidunt. Nunc cursus neque sed felis interdum, at vestibulum sem tempus. Ut convallis,
    neque ut vulputate finibus, velit purus elementum dui, sit amet pretium mi odio et metus. Aliquam
    interdum ullamcorper augue, et consequat ligula sagittis ac. Nullam tincidunt iaculis euismod..</p>
{% endblock %}